numpy
scikit-learn
demoji
underthesea
geoapivietnam
vnaddress
pymongo
itemadapter
scrapy
confluent_kafka
fastapi
scrapy-cloudflare-middleware
urllib3==1.26.16
celery
redis
uvicorn
vine
scrapy-playwright
scrapy-fake-useragent
scrapy-rotating-proxies
underthesea
numpy
elasticsearch>=8.0.0
pyspark>=3.5.0
kafka-python