apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: my-cluster
  namespace: kafka
spec:
  kafka:
    resources:
      requests:
        memory: 512Mi  # Giảm xuống mức tối thiểu
        cpu: 250m
      limits:
        memory: 1Gi    # Đừng cho nó ăn quá nhiều RAM
        cpu: 500m
    jvmOptions:
      "-Xms": "256m"   # Quan trọng: Giới hạn Heap của Java
      "-Xmx": "512m"

    version: 4.1.0
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
      - name: external
        port: 9094
        type: nodeport
        tls: false
        configuration:
          bootstrap:
            alternativeNames: ["18.170.66.185"]
          brokers:
          - broker: 0
            advertisedHost: "18.170.66.185"
          - broker: 1
            advertisedHost: "18.170.66.185"
          - broker: 2
            advertisedHost: "18.170.66.175"
  entityOperator:
    topicOperator: {}
    userOperator: {}
